<table *ngIf="tradeOffers" class="table table-striped" (click)="onSelectTradeOffer($event)">
    <thead>
        <tr>
            <th scope="col" sortable="name">Requested Trades</th>
            <th scope="col" sortable="name">Start By Date</th>
            <th scope="col" sortable="area">End By Date</th>
            <th scope="col" sortable="population">Trade User</th>
            <th scope="col">Status</th>
            <th *ngIf="!isSwapCompleted && swapIncludesPendingOffers" scope="col">Actions</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let tradeOffer of tradeOffers" data-id="{{tradeOffer.user._id}}">
            <!-- <td>
                        <img [src]="'https://upload.wikimedia.org/wikipedia/commons/' + country.flag" class="me-2"
                            style="width: 20px">
                        {{ country.name }}
                    </td> -->
            <td>{{ tradeOffer.tradesRequested }}</td>
            <td>{{ tradeOffer.startByDate }}</td>
            <td>{{ tradeOffer.endByDate }}</td>
            <td>{{ tradeOffer.user.name }}</td>
            <td *ngIf="tradeOffer.status.pending">Pending</td>
            <td *ngIf="tradeOffer.status.accepted">Accepted</td>
            <td *ngIf="tradeOffer.status.declined">Declined</td>
            <td *ngIf="!isSwapCompleted && swapIncludesPendingOffers">
                <div *ngIf="tradeOffer.status.declined || tradeOffer.status.accepted">
                    <span>Can't take action</span>
                </div>
                <div *ngIf="tradeOffer && tradeOffer.status.pending" class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                    <button type="button" data-id="{{tradeOffer.user._id}}" (click)="onTradeOfferAccepted($event)" class="btn btn-success">Accept</button>
                    <button type="button" data-id="{{tradeOffer.user._id}}" (click)="onTradeOfferDeclined($event)" class="btn btn-danger">Decline</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>