<div class="row g-5">
    <div class="col-md-5 col-lg-4 order-md-last">
        <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-primary">Your cart</span>
            <span class="badge bg-primary rounded-pill">3</span>
        </h4>
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0">Product name</h6>
                    <small class="text-muted">Brief description</small>
                </div>
                <span class="text-muted">$12</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0">Second product</h6>
                    <small class="text-muted">Brief description</small>
                </div>
                <span class="text-muted">$8</span>
            </li>
            <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                    <h6 class="my-0">Third item</h6>
                    <small class="text-muted">Brief description</small>
                </div>
                <span class="text-muted">$5</span>
            </li>
            <li class="list-group-item d-flex justify-content-between bg-light">
                <div class="text-success">
                    <h6 class="my-0">Promo code</h6>
                    <small>EXAMPLECODE</small>
                </div>
                <span class="text-success">−$5</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Total (USD)</span>
                <strong>$20</strong>
            </li>
        </ul>

        <form class="card p-2">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Promo code">
                <button type="submit" class="btn btn-secondary">Redeem</button>
            </div>
        </form>
    </div>
    <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Create new SWAP</h4>
        <div *ngIf="(error$ | async) as error" class="alert alert-danger d-flex align-items-center" role="alert">
            <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
                <use xlink:href="#exclamation-triangle-fill" />
            </svg>
            <div>
                {{error}}
            </div>
        </div>
        <form class="needs-validation" #form="ngForm" (ngSubmit)="onCreateSwap(form)">
            <div class="row g-3">

                <div class="col-sm-6">
                    <label class="form-label">Swap Title</label>
                    <input #titleInput="ngModel" ngModel type="text" class="form-control" name="swapTitle"
                        placeholder="Looking for plumber for swap a trade..." required [minlength]="5">
                    <div class="error" *ngIf="titleInput.touched && titleInput.errors?.['required']">
                        Title is required.
                    </div>
                    <div class="error" *ngIf="titleInput.touched && titleInput.errors?.['minlength']">
                        Title must consist of minimum 5 characters.
                    </div>
                </div>

                <div class="col-sm-3">
                    <label for="state" class="form-label">Select Trade</label>
                    <select class="form-select" aria-label="Select Trade" *ngIf="(trades$ | async) as trades" ngModel
                        class="form-select" name="trade">
                        <option value="">Select Trade</option>
                        <ng-container *ngIf="(trades$ | async) as trades">
                            <option *ngFor="let trade of trades" [value]="trade._id">{{trade.name}}</option>
                        </ng-container>

                    </select>
                </div>

                <div class="col-sm-3">
                    <label class="form-label">Open Until</label>
                    <input #dateInput="ngModel" ngModel type="date" class="form-control" name="openUntil" required
                        [minlength]="10" [maxlength]="10">

                    <div class="error" *ngIf="dateInput.touched && dateInput.errors?.['required']">
                        Date is required.
                    </div>
                    <div class="error" *ngIf="dateInput.touched && dateInput.errors?.['minlength']">
                        Date minimum length is 11 characters.
                    </div>
                    <div class="error" *ngIf="dateInput.touched && dateInput.errors?.['maxlength']">
                        Date minimum length is 11 characters.
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Add pictures</label>
                    <input (change)="onImgUpload($event)" accept=".jpg,.JPG,.jpeg,.png" class="form-control" type="file" name="swapImages" multiple>
                </div>

                <div class="col-12">
                    <label>Additional Swap Notes</label>
                    <textarea ngModel class="form-control" name="additionalNotes" rows="5" #noteInput="ngModel" required
                        [minlength]="5" [maxLength]="500"></textarea>
                    <div class="error" *ngIf="noteInput.touched && noteInput.errors?.['required']">
                        Date is required.
                    </div>
                    <div class="error" *ngIf="noteInput.touched && noteInput.errors?.['minlength']">
                        Date minimum length is 5 characters.
                    </div>
                    <div class="error" *ngIf="noteInput.touched && noteInput.errors?.['maxlength']">
                        Date minimum length is 255 characters.
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: {{uploading}}%"
                        attr.aria-valuenow="{{uploading}}" aria-valuemin="0" aria-valuemax="100">Uploading {{uploading}}%</div>
                </div>
                <button class="w-100 btn btn-primary btn-lg" [disabled]="isUploading">Create Swap</button>
            </div>
        </form>
    </div>
</div>