<div *ngIf="(currentSwapOwner$ | async) as swapOwner">
    <div class="card mb-4">
        <div class="card-body text-center">
            <img src="{{swapOwner.profileImg}}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{swapOwner.firstName}} {{swapOwner.lastName}}</h5>
            <h5 *ngFor="let profileTrade of swapOwner.myTrades"><span class="badge bg-info">{{profileTrade}}</span>
            </h5>
        </div>
        <div class="d-flex justify-content-center mb-2">
            <button type="button" class="btn btn-primary">Follow</button>
            <button type="button" class="btn btn-outline-primary ms-1">Message</button>
        </div>
    </div>

    <app-swap-images [swapId]="swap._id" [swapImages]="swap.swapImages"></app-swap-images>
</div>