<header ngbNav class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li ngbNavItem><a ngbNavLink routerLink="/" class="nav-link px-2 link-blue">Home</a></li>
                <li ngbNavItem><a ngbNavLink routerLink="/swaps" class="nav-link px-2 link-dark">Trades</a></li>
                <li ngbNavItem><a ngbNavLink routerLink="/about" class="nav-link px-2 link-dark">About Us</a></li>
                <li ngbNavItem><a ngbNavLink routerLink="/contact" class="nav-link px-2 link-dark">Contact Us</a></li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input id="typeahead-focus" type="search" class="form-control" placeholder="Trade, City..."
                    aria-label="Search" />
                <!-- [(ngModel)]="model" [ngbTypeahead]="search"
                    (focus)="focus$.next($any($event).target.value)" (click)="click$.next($any($event).target.value)"
                    #instance="ngbTypeahead" -->
            </form>


            <div *ngIf="!isLoggedIn">
                <button type="button" routerLink="/login" class="btn btn-primary btn-sm px-4">Login</button>
                <button type="button" routerLink="/register" class="btn btn-outline-success btn-sm px-4">Register</button>
            </div>

            <div *ngIf="isLoggedIn">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
                    <a (click)="toggelProfileNav(profileUl, $event)" class="d-block link-dark text-decoration-none">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Circle-icons-profile.svg/1024px-Circle-icons-profile.svg.png"
                            alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                </a>

                <div class="dropdown text-end">
                    <ul #profileUl (click)="toggelProfileNav(profileUl, $event)" class="dropdown-menu text-small">
                        <li><a class="dropdown-item" routerLink="/swaps/add">New SWAP</a></li>
                        <li><a class="dropdown-item" routerLink="/swaps/my-swaps">My Swaps</a></li>
                        <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" (click)="onLogout($event)">Logout</a></li>
                    </ul>
                </div>
            </div>


        </div>
    </div>
</header>