<div class="row">
    <div *ngIf="(swap$ | async) as swap" class="col-lg-8">

        <app-login-or-register *ngIf="!(loggedInUser$ | async)"></app-login-or-register>

        <div>
            <div class="card mb-4">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0"><b>Swap Title</b></p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-content mb-0">{{swap.swapTitle}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0"><b>Trade requested</b></p>
                        </div>
                        <div class="col-sm-9">
                            <span class="badge bg-info">{{swap.trade}}</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0"><b>Swap expiry</b></p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-content mb-0">{{swap.openUntil}}</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0"><b>Swap Notes</b></p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-content mb-0">{{swap.additionalNotes}}</p>
                        </div>
                    </div>
                </div>
            </div>

            <hr>

            <ng-container *ngIf="(loggedInUser$ | async) as loggedInUser">

                <app-swap-trades (isTradeSelected)="setTradeSelected($event)"
                    *ngIf="swap._ownerId === loggedInUser._id && swap.tradeOffers.length"
                    [tradeOffers]="swap.tradeOffers" [isTradeOfferSelected]="isTradeSelected">
                </app-swap-trades>
                <ng-container *ngIf="(tradeOfferToDisplay$ | async) as tradeOfferToDisplay">
                    <app-trade-offer *ngIf="isTradeOwner && loggedInUser._id !== swap._ownerId"
                        [tradeOffer]="tradeOfferToDisplay" [tradeImages]="tradeImages">
                    </app-trade-offer>
                </ng-container>

                <ng-container *ngIf="(tradeOfferToDisplay$ | async) as tradeOfferToDisplay">
                    <app-trade-offer *ngIf="isTradeSelected && loggedInUser._id === swap._ownerId" [tradeOffer]="tradeOfferToDisplay" [tradeImages]="tradeImages" [isLoggedIn]="loggedInUser._id === swap._ownerId ? true : false">
                    </app-trade-offer>
                </ng-container>

                <app-offer-trade *ngIf="!isTradeOwner && swap._ownerId !== loggedInUser._id" [offerUser]="loggedInUser"
                    [swap]="swap"></app-offer-trade>


            </ng-container>


        </div>
    </div>

    <div *ngIf="(swap$ | async) as swap" class="col-lg-4 rounded">
        <app-swap-owner [swap]="swap" class="col-md-4"></app-swap-owner>
    </div>

</div>