.container {
    background-color: #eee;
}
.error {
    color: red;
    font-size: small;
    margin-left: 1%;
}
.float-right {
    float: right;
}
.bcontent {
    margin-top: 10px;
}
b {
    color: rgb(70, 69, 69)
}
.text-content {
    color: rgb(107, 107, 107)
}