<div class="row" *ngIf="swap">
    <div class="col-lg-4">
        <div *ngIf="profile" class="card mb-4">
            <div class="card-body text-center">
                <img src="{{profile.profileImg}}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                <h5 class="my-3">{{profile.firstName}} {{profile.lastName}}</h5>

                <span *ngFor="let profileTrade of profile.myTrades" class="text-muted mb-1">{{profileTrade}}</span>


                <!-- <div class="d-flex justify-content-center mb-2">
                    <button type="button" class="btn btn-primary">Follow</button>
                    <button type="button" class="btn btn-outline-primary ms-1">Message</button>
                </div> -->
            </div>
        </div>
        <h5 class="text-center">Swap detail Images</h5>
        <div *ngIf="images" class="card mb-4 mb-lg-0">
            <img *ngFor="let image of images" src="{{image}}" class="img-thumbnail rounded mx-auto">

        </div>
    </div>
    <div class="col-lg-8">
        <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Swap</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">{{swap.swapTitle}}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Trade requested</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">{{swap.trade}}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Swap exipiry</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">{{swap.openUntil}}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Swap offers</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">{{swap.offers.length}}</p>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <p class="mb-0">Swap Notes</p>
                    </div>
                    <div class="col-sm-9">
                        <p class="text-muted mb-0">{{swap.additionalNotes}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-4 mb-md-0">
                    <div class="card-body">
                        <p class="mb-4"><span class="text-primary font-italic me-1">status</span> Swap Offer
                        </p>
                        <p class="mb-1" style="font-size: .77rem;">Swap Start</p>
                        <!-- <div class="progress rounded" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->
                        <p class="mt-4 mb-1" style="font-size: .77rem;">Swap Completion</p>
                        <!-- <div class="progress rounded" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->
                        <p class="mt-4 mb-1" style="font-size: .77rem;">Swap Address</p>
                        <!-- <div class="progress rounded" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->
                        <p class="mt-4 mb-1" style="font-size: .77rem;">Swap notes</p>
                        <!-- <div class="progress rounded" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->
                        <br>
                        <h6>Trade required</h6>
                        <p class="mt-4 mb-1" style="font-size: .77rem;">Trade Name</p>
                        <!-- <div class="progress rounded" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->
                        <p class="mt-4 mb-1" style="font-size: .77rem;">Trade Address</p>
                        <!-- <div class="progress rounded mb-2" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->
                        <p class="mt-4 mb-1" style="font-size: .77rem;">Completed Until</p>
                        <!-- <div class="progress rounded mb-2" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mb-4 mb-md-0">
                    <div class="card-body">
                        <p class="mb-4"><span class="text-primary font-italic me-1">status</span> Trade Offer
                        </p>

                        <p class="mb-1" style="font-size: .77rem;">Trade Start</p>
                        <!-- <div class="progress rounded" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->
                        <p class="mt-4 mb-1" style="font-size: .77rem;">Trade Completion</p>
                        <!-- <div class="progress rounded" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->
                        <p class="mt-4 mb-1" style="font-size: .77rem;">Trade Address</p>
                        <!-- <div class="progress rounded" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->
                        <p class="mt-4 mb-1" style="font-size: .77rem;">Trade Notes</p>
                        <!-- <div class="progress rounded" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->
                        <p class="mt-4 mb-1" style="font-size: .77rem;">Trade Offered</p>
                        <!-- <div class="progress rounded" style="height: 5px;">
                            <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"
                                aria-valuemin="0" aria-valuemax="100"></div>
                        </div> -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>