<div *ngIf="tradeOffer" class="col-md-12 order-md-last">
    

    <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-primary">My Trade Offer</span>

        <h6 *ngIf="tradeOffer.status.pending === true"><span class="badge bg-primary">Pending</span></h6>
        <h6 *ngIf="tradeOffer.status.accepted === true"><span class="badge bg-primary">Accepted</span></h6>
        <h6 *ngIf="tradeOffer.status.declined === true"><span class="badge bg-primary">Declined</span></h6>

    </h4>

    <div class="text-center mb-3">
        <div class="btn-group btn-group-md" role="group" aria-label="action-buttons">
            <button type="button" class="btn btn-success">Accept</button>
            <button type="button" class="btn btn-danger">Decline</button>
        </div>
    </div>

    <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
                <h6 class="my-0">Start By Date</h6>
                <small class="text-muted">{{tradeOffer?.startByDate}}</small>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
                <h6 class="my-0">End by Date</h6>
                <small class="text-muted">{{tradeOffer?.endByDate}}</small>
            </div>
        </li>

        <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
                <h6 class="my-0">Requested Trade/Trades</h6>
                <h6 *ngFor="let trade of tradeOffer?.tradesRequested"><span class="badge bg-info">{{trade}}</span>
                </h6>
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-sm">
            <div>
                <h6 class="my-0">Additional Trade Notes</h6>
                <small class="text-muted">Additional information on offered trade.</small>
                <hr>
                <span class="text-muted">{{tradeOffer?.notes}}</span>
            </div>
        </li>
    </ul>

    <h5 class="text-center">Trade Offer Images</h5>

    <div class="text-center">
        <app-swap-images [imagesLinks]="tradeImages"></app-swap-images>
    </div>

</div>